* {
    /* padding: 0; */
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inline {
    display: inline;
}

/* .nav {} */

.header-a {
    margin-left: 50px;
    font-size: 40px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.nav-ul-li {
    font-size: 20px;
    margin: 15px;

}

.nav-ul-li a {
    text-decoration: none;
    color: black;
}

.header-a-span {
    color: orange;
}

.section1 {
    /* border: 2px solid red; */
    display: flex;
    padding: 30px;
    justify-content: space-around;

    background-color: aliceblue;
    height: 60vh;

    align-items: center;
}

.section1:nth-child(even) {
    flex-direction: row-reverse;
}

.section1-left-img {
    width: 300px;
    /* height: 300px; */
}

.section1-right {
    /* border: 2px solid blue; */
    width: 700px;
}

.flex {
    background-color: rgb(125, 125, 255);
    display: flex;

}

.flexitem {
    width: 100px;
    height: 100px;
    background-color: bisque;
    margin: 10px;
}

.section2_top {
    text-align: center;
    padding: 20px 10px;
}

.section2_h2 {
    font-size: 32px;
    font-weight: 400;
}

.section2_b_divs {
    /* border: 2px solid red; */
    width: 320px;
    /* height: 320px; */
    padding: 15px;
    text-align: center;
}

.section2_h3 {
    font-size: 30px;
    font-weight: 400;
    /* border: 1px solid red; */
    padding: 10px;
}

.section2_ptag {
    font-size: 20px;
    /* border: 2px solid grey; */
    padding: 10px;
}

.section2_button {
    padding: 10px;
    font-size: 17px;
    margin-top: 25px;
    background-color: #ffc107;
    border: none;
    border-radius: 6px;
}

.section2_bottom {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section2_b_divs {
    background-color: #212529;
    color: white;
    border-radius: 6px;
}

.section2_icon {
    font-size: 50px;
}


.meraSection {
    margin-top: 100vh;
    width: 100%;
    height: 100vh;
    background-color: #ffe188;
}

.sec_1 {
    margin-top: 2vh;
}




@media (max-width: 768px) {
    .section2_bottom {
        flex-direction: column;
    }

    .section1 {
        flex-direction: column;
        background-color: rgb(181, 255, 161);
    }

    .section1-right {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }
}

.container {
    margin: 20px 50px;
}

.cont {
    width: 200px;
    height: 200px;
    background-color: #ffe1889c;
    position: relative;
}

.cont::after {
    content: "";
    width: 200px;
    height: 200px;
    background-color: #21252995;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.sec {
    min-height: 100vh;
    /* background-image: ; */
    background-repeat: no-repeat;
    background-size: cover;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.703), rgba(0, 0, 0, 0.685)), url("https://images.unsplash.com/photo-1628803184377-c5167a0cb6fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
}